@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
	box-sizing:border-box;
}

body{
	background-color: hsl(212, 45%, 89%);
	font-family: Outfit;
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.card__background{
	background-color: white;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	width: 375px;
}

.card__image img{
	border-radius: 15px;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.title{
	color:hsl(218, 44%, 22%);
	text-align: center;
}

.subtitle{
	color:hsl(220, 15%, 55%);
	text-align: center;
}

